<!DOCTYPE html>
<html>
<head>
    <title>Gyattoria</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
   
</head>
<body>
    <br/><br/>
    <h1>{{ room.title }}</h1><br/>
    <p>{{ room.description }}</p>


    <br/><br/>
    <h2>Actions:</h2>

    <div class="actions-container">
  {% for option, label in room.options.items() %}
    {% if option == 'pick_up_key' and option in room.options and option not in inventory %}
      <form action="/pick_up_key" method="GET">
        <input type="submit" value="{{ label }}">
      </form>
    {% elif option == 'unlock' %}
      {% if label == 'Locked' %}
        <form class="invisible-option">
          <input type="submit" value="{{ label }}" disabled>
        </form>
      {% else %}
        <form action="/move/{{ option }}" method="GET">
          <input type="submit" value="{{ label }}">
        </form>
      {% endif %}
    {% else %}
      <form action="/move/{{ option }}" method="GET">
        <input type="submit" value="{{ label }}">
      </form>
    {% endif %}
  {% endfor %}
</div>

<br/><br/>
  <div>
    <h2>Inventory:</h2>
{% if inventory %}
    <ul>
        {% for item_id in inventory %}
            <li>{{ items[item_id].name }}: {{ items[item_id].description }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>Your inventory is empty.</p>
{% endif %} 
  <div>

  <div>
    <h2>Stats</h2>
    <p>Health: {{ player_stats.health }}</p>
    <p>Strength: {{ player_stats.strength }}</p>
    <p>Agility: {{ player_stats.agility }}</p>
    <p>Defense: {{ player_stats.defense }}</p>
    <p>Magika: {{ player_stats.magika }}</p>
    <!-- Add more stats as needed -->
  </div>
</div>
</body>
</html>
